@{
    ViewBag.Title = "Home";
}

<!-- Banner lớn -->
<img class="banner-img" src="@Url.Content("~/Images/banner.jpg")" alt="Black Friday Banner" />

<br />
<br />

<h2>Shop deals by category</h2>

<div class="d-flex flex-wrap">

    <!-- Apple -->
    <div class="category-card">
        <img class="category-img" src="@Url.Content("~/Images/cat_apple.jpg")" alt="Apple" />
        <p>Apple</p>
    </div>

    <!-- Laptop & Desktop -->
    <div class="category-card">
        <img class="category-img" src="@Url.Content("~/Images/cat_laptop.jpg")" alt="Laptop & Desktop" />
        <p>Laptop & Desktop</p>
    </div>

    <!-- TVs & Projectors -->
    <div class="category-card">
        <img class="category-img" src="@Url.Content("~/Images/cat_tv.jpg")" alt="TVs & Projector" />
        <p>TVs & Projector</p>
    </div>

    <!-- Video Games -->
    <div class="category-card">
        <img class="category-img" src="@Url.Content("~/Images/cat_game.jpg")" alt="Video Games" />
        <p>Video Games, Console & VR</p>
    </div>

    <!-- Major Appliances -->
    <div class="category-card">
        <img class="category-img" src="@Url.Content("~/Images/cat_fridge.jpg")" alt="Major Appliance" />
        <p>Major Appliance</p>
    </div>

    <!-- Cellphones -->
    <div class="category-card">
        <img class="category-img" src="@Url.Content("~/Images/cat_phone.jpg")" alt="Cellphones & Accessories" />
        <p>Cellphones & Accessories</p>
    </div>

</div>
